body{
    background-color: black;
}

.modalbuttons{
    padding-top: 13px;
}

#camera{
    background-color: lightsteelblue;
}

#pin{
    background-color: lightsteelblue;
    padding
}

.navpills{
    padding-top: 10px;
}

.postheader.bg-success{
    height: 50px;
    background-color: white !important;
}

.postbody{
    height: 100px;
    background-color: black !important;
}

.posttext{
    height: 70px;
    background-color: azure;
}