.modalbuttons{
    padding-top: 13px;
}

#camera{
    background-color: lightsteelblue;
}

#pin{
    background-color: lightsteelblue;
    padding
}

.navpills{
    padding-top: 10px;
}

.navpills, .nav-link{
    background-color: transparent !important;
}

.postheader.bg-success{
    height: 50px;
    background-color: white !important;
}

.postbody{
    height: 100px;
    background-color: black !important;
    
}

